OBDMiddleware/obdBase/test/testdata/elmcommand.dtd

<!ELEMENT commands (command+)>
<!ELEMENT command (version, basecommand, (basevalueformat*), (subcommand*), (subvalueformat*), description, group)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT basecommand (#PCDATA)>
<!ELEMENT subcommand (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT group (#PCDATA)>
<!ELEMENT basevalueformat (#PCDATA)>
<!ELEMENT subvalueformat (#PCDATA)>